<a href="https://colab.research.google.com/github/urvashi998877/PYTHON-ASSINGMENT/blob/main/Typecasting_and_conditional_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 5
a

5

In [ ]:
type(a)

int

In [ ]:
b = 5.6
type(b)

float

In [ ]:
a = "urvi"
type(a)

str

In [ ]:
2 + 3

5

# due to double quotes ("") integer beacome string, now we cannot add it will throw an error.

In [ ]:
"2" + 3

TypeError: can only concatenate str (not "int") to str

In [ ]:
2 + 2.5

4.5

# type casting/type conversion >> the process of changing the data type of a value/object
# why ? while executing/computation using opertors, there can be mismatch between the data type

In [ ]:
a = "2"
b = 3
a+b

TypeError: can only concatenate str (not "int") to str

In [ ]:
type(a)

str

In [ ]:
# now we write the same value but write the int, so we have change the data type
#from str to int, so before (a) we put int to convert it from str to int

a = "2"
b = 3
int(a)+b

5

In [ ]:
a = "2"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [ ]:
a = 3.4
type(a)

float

In [ ]:
int(a)

3

In [ ]:
b = 6.78
type (b)
float_value = int(b)
type(float_value)

int

In [ ]:
#integer to float
a = 2
type(a)

int

In [ ]:
 b = float(a)
 b

2.0

In [ ]:
type(a)

int

In [ ]:
type(b)

float

In [ ]:
#string to float
a = "4.3"
type(a)

str

In [ ]:
b = float(a)
type(b)

float

In [ ]:
a = "Ajay" # Character cannot be converted into numbers
 type(a)

IndentationError: unexpected indent (<ipython-input-34-5e0b2c751ed4>, line 2)

In [ ]:
int(a)

ValueError: invalid literal for int() with base 10: '4.3'

In [ ]:
type(a)

str

In [ ]:
#integer to string
a = 5
type(a)

int

In [ ]:
a

5

In [ ]:
c = str(a)
c

'5'

In [ ]:
type(c)

str

In [ ]:
#typecasting>> implicit and explicit

In [ ]:
#implicit typecasting >> python understan the datatype
a = 5
type(a)

int

In [ ]:
2+3

5

In [ ]:
2+3.5

5.5

In [ ]:
#explict typecasting >> convert data type using inbuilt function >> str, int,float,boolen
a = "2"
type(a)

str

In [ ]:
int(a)

2

In [ ]:
float(a)

2.0

In [ ]:

a = "urvi"
b = 3
a+b

TypeError: can only concatenate str (not "int") to str

#concatenation of strings>> meaning combine the string

In [ ]:
a = " urvi "
b = " thakur "
a+b

' urvi  thakur '

In [ ]:
"pw" + "skills"

'pwskills'

In [ ]:
"100" + "ajay"

'100ajay'

In [ ]:
#bool
bool(0)

False

In [ ]:
bool(1)

True

In [ ]:
bool(9)

True

In [ ]:
bool("ajay")

True

In [ ]:
bool("") #empty string

False

In [ ]:
bool(-5)

True

In [ ]:
bool(100)

True

In [ ]:
bool(10000)

True

# Conditional  >> i will play cicket when the weather is sunny
#Loop >> i will keep checking out dishes untill all the dishes are over in a buffet
#break statement >> i will check out all the dishes untill i get pasta

In [ ]:
#Conditional statements  >> helps you to code decisions based on some preconditions
#if
#if else
#if elif(elseif)else
#nested if else

In [ ]:
#if statements
#syntax
#if condition True:                     >>(if this is true then python says that go inside the block  )
#     block of code will be executed    >> (space before the block is called indentation)

In [ ]:
3>4

False

In [ ]:
1<4

True

In [ ]:
a = 100
if a > 0: #execute the if block , if the condition is true
  print("the number is greater than 0.")

the number is greater than 0.

In [1]:
a = 100
if a < 0: #execute the if block , if the condition is true
  print("the number is greater than 0.")

In [4]:
weather = "rainy"
if weather == "rainy": #indentation is necessary here
  print ("i will not play cricket")

i will not play cricket

In [5]:
weather = "sunny"
if weather == "rainy":
  print ("i will not play cricket")

In [6]:
temp = 30
if temp>25:
  print("room temp")

room temp

In [8]:
is_ds_course = True
if is_ds_course:
  print("i am studing the course")

i am studing the course

In [9]:
grade = 8
if grade >=8:
  print("you are excellent")

you are excellent

In [10]:
number = 42
if number %2 ==0:
  print("the number is even")

the number is even

In [11]:
#in real life, decisions are made based on multiple conditions
number = 42
if ((number %2 ==0) & (number >0)):
  print("this is the number of interest")

this is the number of interest

In [13]:
grade = 8
co_cirr = True
if ((grade >=8) and (co_cirr == True)):
  print("you all rounder")

you all rounder

In [ ]:
# in real life if one condition is not fulfilled, you will do something else
# example : if weather is not rainy , i will go to play cricket else i will watch TV

In [25]:
weather = "sunny"
if weather == "sunny": #condition is true, execute if block
  print("i will play cricket")
else: #condition is not true, else block will be executed
    print("i will watch TV")

i will play cricket

In [27]:
age = 17
if age >=18:
  print("you will be served alcohole")
else:
  print("get out of the bar")

get out of the bar

In [29]:
age = 19
if age >=18:
  print("please have a driving license and drive")
else:
  print("dont drive")

please have a driving license and drive

In [30]:
age = 12
if age >=18:
  print("please have a driving license and drive")
else:
  print("dont drive")

dont drive

In [31]:
is_dscourse = False
if is_dscourse:
  print("i am studying")
else:
  print("i am playing cricket")

i am playing cricket

In [35]:
x = 16
if x > 5:
  print("x is greater than 5")
else:
  print("the no is less than 5")

x is greater than 5

In [1]:
# to check  if a no is even
6 % 2

0

In [4]:
num = 4
if num % 2 == 0:
  print("even")
else:
  print("odd")

even

In [6]:
score = 30
if score >= 33:
  print("you are passed")
else:
  print("repeat the class")

repeat the class

In [ ]:
# if else >> two condition
# in real life we can have multiple condition
#syntax
#if some condition
#elif some condition
#else

In [8]:
a = 100
if a > 100:
  print("this block will be executed if a is greater than 100")
elif a < 100:
  print("this block will be executed if a is lesser than 100 ")
else:
  print("the number is equals to 100")

the number is equals to 100

In [3]:
a = 1000000
if a < 100:
  print("this block will be executed if a is lesser than 100")
elif a > 2000:
  print("the number is huge")
elif a > 100:
  print("this block will be executed if a is greater than 100 ")
else:
  print("the number is equals to 100")

the number is huge

In [6]:
score = 75
if score >=90:
  print("grade A")
elif (80<=score<90):
  print("grade B")
elif (70<=score<80):
  print("grade C ")
else:
  print("Grade D")

grade C

In [8]:
age = 80
if age < 18:
  print(" you are minority")
elif 18<age<=65:
  print("you are adult")
else:
  print("you are senior citizen")

you are senior citizen

In [1]:
#nested if else >> you can have multiple if else inside if else
x = 1
y = 6
if x > 5:
  if y > 5:
    print("both x and y is greater than 5")
  else:
    print("x is greater than but y is less than 5")
else:
  print("x is not greater than 5")

x is not greater than 5

In [4]:
is_vip = True
age = 15
if is_vip:
  if age >=18:
    if age<65:
      print("welcome to vip customer")
    else:
      print("you are vip and very imp. You are eligible for senior citizen discount")
  else:
    print("vip status is only for adult")
else:
  print("You are not a vip customer and will be charged a regular price")

vip status is only for adult

In [5]:
a = input("Enter a no") # by default input treats everything as string
print("The no is", a)

Enter a no100
The no is 100

In [6]:
type(a)

str

In [8]:
a = int(input("Enter a no"))
a

Enter a no3

3

In [2]:
a = int(input("Enter a no"))
if a >= 100:
  print(" The no is greater than 100")
elif 0<=a<100:
  print("The no is greater than 0 and less than 100")
else:
  print("This is a negative no")

Enter a no800
 The no is greater than 100

In [3]:
a = int(input("Enter a no"))
if a >= 100:
  print(" The no is greater than 100")
elif 0<=a<100:
  print("The no is greater than 0 and less than 100")
else:
  print("This is a negative no")

Enter a no-6
This is a negative no

In [4]:
name = input("please enter your name")
email = input("please enter your email")
password = input("please enter ypur password")

if name =="":
  print("please enter a valid name, cannot be empty")
else:
  if "@" not in email:
    print("please enter a valid email")
  else:
    if len(password)< 0:
      print("no password entered, pls provide a valid password")
    else:
      print("login/registration is successfull")

please enter your nameurvi
please enter your emailurvi2@
please enter ypur password00456
login/registration is successfull